<a href="https://colab.research.google.com/github/kennjoroges/PythonBasics/blob/master/Python_Basics_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<font color="blue">To use this notebook on Colaboratory, you will need to make a copy of it. Go to **File** > **Save a Copy in Drive**. You can then use the new copy that will appear in the new tab.</font>

# Python Basics

## 1.0 Printing and Variables

### 1.0 Examples

In [0]:
# Example 1
# ---
# Let's store the value 10 in the variable a
# ---

a = 10

In [5]:
# Example 2
# ---
# Let's store the value "First Name" in the variable firstname
# then display the firstname
# ---
#

firstname = "First Name"

print(firstname)

First Name

In [6]:
# Example 3 
# ---
# Let's store variables 10 and "First Name" in the variables x and y
# then display the variables
# ---
# 

x, y = 10, "First Name"

print(x)
print(y)

10
First Name

### <font color="blue">1.0 Challenges</font>

In [0]:
# Challenge 1
# ---
# Question: Store the variable 3.14 in a variable pie
# ---
# 
pie =3.14

In [10]:
# Challenge 2
# ---
# Question: Store the your full names a variable then display the variable
# ---
# 
full_name = "Kennedy Njoroge"
print(full_name)

Kennedy Njoroge

In [12]:
# Challenge 3
# ---
# Question: Store an East African and South African Country in two variables
# of your choice then display them below
# ---
#
east_country = "Tanzania"
sa_country = "South Africa"

print (east_country)
print (sa_country)

Tanzania
South Africa

## 2.0 Operators

### 2.0 Examples

In [37]:
# Example 1
# ---
# Let's perform an addition operation below
# ---
# 

# declaring our variables
a = 10
b = 6

# addition
c = a + b

# printing out our results
print(c)
print (a)

16
10

In [38]:
# Example 2
# ---
# Performing a division operation
# ---
# 
d = a / b

# printing out our result
print(d)
print (a)

1.6666666666666667
10

In [39]:
# Example 3
# ---
# Using the increment operator to perform a = a + b 
# ---
# 

# using the increment operator
print(a)
print(b)
a += b

# Printing out our result
print(a)

10
6
16

### <font color="blue">2.0 Challenges</font>

In [40]:
# Challenge 1
# ---
# Question: Deduct b from a using the above variables
# ---
# 
c = a - b
print (c)

10

In [41]:
# Challenge 2
# ---
# Question: Muplitiply a and b variables
# ---
# 
d = a * b
print(a , ' * ' ,b,' = ' ,d)

16  *  6  =  96

In [42]:
# Challenge 3 
# ---
# Question: Using the decrement operator to perform a = a - b 
# ---
# 
a -= b

print (a)

10

## 3.0 Types

### 3.0 Examples

In [46]:
# Example 1
# ---
# Dynamically-inferred types
# ---
#
x = 20
print(type(x))
x = '20'
print(type(x))
x = 20.0
print(type(x))

<class 'int'>
<class 'str'>
<class 'float'>

In [47]:
# Example 2
# ---
# Manual type-conversion (string to int)
# ---
# 
x = 20
y = '5'
print(x + int(y))

25

In [48]:
# Example 3
# ---
# Automatic type-conversion (int to float)
# ---
#
x = 20
print(type(x))
x += 5.0
print(x), type(x)

<class 'int'>
25.0

(None, float)

In [49]:
# Example 4
# ---
# Integer division
# ---
# 
a = 20
b = 5
print(a/b)
print(b/a)

4.0
0.25

In [50]:
# Example 5
# ---
# Forcing float division
# ---
# 
print(float(b/a))
# How to correct?

0.25

In [51]:
# Examaple 6
# ---
# String "arithmetic" (actually concatenation)
# ---
a = 'John '
b = 'Doe'
print(a + b)

John Doe

### <font color="blue">3.0 Challenges</font>

In [52]:
# Challenge 1
# ---
# Question: Concatenate and print your full names
# ---
# 
first_name = "Kennedy"
second_name = "Njoroge"
print(first_name+' '+second_name)

Kennedy Njoroge

In [56]:
# Challenge 2
# ---
# Type-checking
# ---
# 
x = 10
y = '5'
print (x + int(y))

15

In [57]:
# Challenge 3
# ---
# Question: Perform integer division of 199 and 3 with the result being a float
# ---
# 
a = 199/3

print (a)

66.33333333333333

In [58]:
# Challenge 4
# ---
# Question: Concatenate and print your postal address with the City and Country.
# ---
# 
postal_address = "P.O Box 372"
city = "Kerugoya"
country = "Kenya"

print (postal_address+' '+city+' '+country)

P.O Box 372 Kerugoya Kenya

## 4.0 Lists

### 4.0 Examples

In [59]:
# Example 1
# ---
# Creating a restaurant list
# ---
# 

# Defining our list
restaurants = ["cj's", "Java", "Nyama Mama", "Italian", "Swahili", "Khosa"]

# Printing our result
print(restaurants)

["cj's", 'Java', 'Nyama Mama', 'Italian', 'Swahili', 'Khosa']

In [60]:
# Example 2
# ---
# Adding elements to a list
# ---
# 

# Adding the restaurant Viridian to our restaurants list
restaurants.append("Viridian")

# Printing our result
print(restaurants)

["cj's", 'Java', 'Nyama Mama', 'Italian', 'Swahili', 'Khosa', 'Viridian']

In [61]:
# Example 3 
# ---
# Updating an element in a list
# ---
#
restaurants[1] = "Asmara"

# Printing our result
print(restaurants)

["cj's", 'Asmara', 'Nyama Mama', 'Italian', 'Swahili', 'Khosa', 'Viridian']

In [62]:
# Example 4 
# ---
# Removing an element from a list
# ---
#
restaurants.remove("Viridian")


# Printing our result
print(restaurants)

["cj's", 'Asmara', 'Nyama Mama', 'Italian', 'Swahili', 'Khosa']

In [63]:
# Example 5
# ---
# Slicing a list
# ---
#

# Getting the first two elements 
print(restaurants[0:1])

# Getting items from 2nd position to the end 
print(restaurants[2:])

["cj's"]
['Nyama Mama', 'Italian', 'Swahili', 'Khosa']

### <font color="blue">4.0 Challenges</font>

In [65]:
# Challenge 1
# ---
# Question: Create a list with 10 kenyan towns.
# Towns: Lodwar, Thika, Kitale, Nyeri, Lamu, Naivasha, Nanyuki, Kakamega, Nyahururu, Voi
# ---
# 
towns = ["Lodwar", "Thika", "Kitale", "Nyeri", "Lamu", "Naivasha", "Nanyuki", "Kakamega", "Nyahururu", "Voi"]
print(towns)

['Lodwar', 'Thika', 'Kitale', 'Nyeri', 'Lamu', 'Naivasha', 'Nanyuki', 'Kakamega', 'Nyahururu', 'Voi']

In [66]:
# Challenge 2
# ---
# Question: Add the towm Homabay to the list
# ---
# 
towns.append("Homabay")
print(towns)

['Lodwar', 'Thika', 'Kitale', 'Nyeri', 'Lamu', 'Naivasha', 'Nanyuki', 'Kakamega', 'Nyahururu', 'Voi', 'Homabay']

In [68]:
# Challenge 3
# ---
# Question: Update the city in the fifth position to Malindi
# ---
# 
towns[4] = "Malindi"
print(towns)

['Lodwar', 'Thika', 'Kitale', 'Nyeri', 'Malindi', 'Naivasha', 'Nanyuki', 'Kakamega', 'Nyahururu', 'Voi', 'Homabay']

In [72]:
# Challenge 4
# ---
# Question: Get the city Homabay and Malindi from the kenyan towns list
# ---
# 
print(towns[10], towns[4])

Homabay Malindi

## 5.0 Dictionaries

### 5.0 Examples

In [0]:
# Example 1
# ---
# Creating a dictionary
# ---
# 

# Creating a dictionary vehicle
vehicle =	{
  'brand': 'Toyota',
  'model': 'Subaru',
  'year': 2019
}

In [78]:
# Example 2
# ---
# Adding elements to a dictionary
# ---
# 

# Adding an element to your dictionary
vehicle['engine'] = '1800cc'  

# Printing out our updated dictionary
print(vehicle)

{'brand': 'Toyota', 'model': 'Subaru', 'year': 2019, 'engine': '1800cc'}

In [76]:
# Example 3
# ---
# Updating elements in a dictionary
# ---
# 

# Updating an element to our dictionary
vehicle['engine'] = '2400cc'

# Printing out our updated dictionary
print(vehicle)

{'brand': 'Toyota', 'model': 'Subaru', 'year': 2019, 'engine': '2400cc'}

In [80]:
# Example 4
# ---
# Accessing an element from a dictionary
# ---
# 

# Printing our vehicle's model
#
print(vehicle["model"]) 

# or we could use
print(vehicle.get("model"))

Subaru
Subaru

In [0]:
# Example 5
# ---
# Removing an element from a dictionary
# ---
# 

# Removing model from the dictionary
vehicle_without_model = vehicle.pop("model")

In [82]:
# Example 6
# ---
# Checking if an element exists
# ---
# 

if "serial_no" in vehicle:
  print("Yes, the keyword exists in the dictionary")
else:
  print('No, the keyword does not exist in the dictionary')

No, the keyword does not exist in the dictionary

### <font color="blue">5.0 Challenges</font>

In [92]:
# Challenge 1
# ---
# Create a dictionary named television then populate it with 
# any values for screen_size, screen_type, manufacturer
# ---
#
television = {"screen_size" : "15 inch" ,"screen_type" : "Plasma", "manufacturer" : "Samsung" }

print(television)

{'screen_size': '15 inch', 'screen_type': 'Plasma', 'manufacturer': 'Samsung'}

In [0]:
# Challenge 2
# ---
# Add the element date_of_manufacture with value 2018 to the 
# television dictionary 
# ---
#
television["Date_Of_Manufacture"]= 2018

In [0]:
# Challenge 3
# Update the element date_of_manufacture with value 2019 in the 
# television dictionary 
# ---
#
television["Date_Of_Manufacture"] = 2019

In [98]:
# Challenge 4
# Access the screen size in the television dictionary above
# ---
#
print(television["screen_size"])

print(television.get("screen_size"))

15 inch
15 inch

In [103]:
# Challenge 4
# Check whether designer is a key in the television dictionary 
# ---
#
if "designer" in television:
  print("Designer is a key in television disctionary")
else:
  print ("Designer does not exist")

Designer does not exist

## 6.0 Conditional (If) Statements

### 6.0 Examples

In [0]:
# Example 1
# ---
# If keyword
# ---
# 
p = 500
q = 100

if q < p:
  print("y is less than x")

In [0]:
# Example 2
# ---
# Elif keyword
# ---
# 
r = 100
s = 100

if s < r:
  print("s is less than r")
elif r == s:
  print("r and s are equal")

In [0]:
# Example 3 
# ---
# Else keyword
# ---
# 
a = 150
b = 50

if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

In [0]:
# Example 4
# ---
# And keyword
# ---
# 
name = "Mary"    
age  = 30 

if name == "Mary" and age == 30:
  print("My name is Mary, and I am 30 years old.")

In [0]:
# Example 5
# ---
# Or keyword
# ---
# 
a = 100
b = 101
c = 99

if a > b or a > c:
  print("At least one of the conditions is True")

### <font color="blue">6.0 Challenges</font>

In [104]:
# Challenge 1
# ---
# Question: Find out if t is less than s
# ---
#
s = 10
t = 8

if t<s :
  print("T is less than s")
else:
  print ("T is not less than s")

T is less than s

In [108]:
# Challenge 2
# ---
# Question: Write a program that checks the value of vowel, i.e. a, e, i, o or u 
# then displays whether the entered letter is a vowel.
# ---
# 
vowel = "c"
vowel_list = ["a","e","i","o","u"]

if vowel in vowel_list:
  print("Vowel")
else:
  print("Not a vowel")

Not a vowel

## 7.0 For Loops

### 7.0 Examples

In [0]:
# Example 1
# ---
# Looping/iterating through a string
# ---
# 
for y in "Karuna Karuna":
  print(y)

In [0]:
# Example 2
# ---
# Using a break statement to stop the loop before it continues its iteration
# ---
# 

# Let's print out the restaurants list that we had created earlier on
print(restaurants)

# Looping and using a break statement
for x in restaurants:
  print(x) 
  if x == "Viridian":
    break

In [0]:
# Example 3
# ---
# Using a continue statement to stop the current iteration of the loop 
# and continue the next section of our code
# ---
# 

mobile_phone = ["iphone 4", "iphone 5", "iphone 6", "iphone 7", "iphone 8", "iphone x", "iphone xs"]

for x in mobile_phone:  
    if x == 'iphone 6' or x == 'iphone 8': 
         continue
    print ('Checked Phone :', x)

### <font color="blue">7.0 Challenges</font>

In [117]:
# Challenge 1
# ---
# Question: Iterate through the string "My land is Kenya"
# ---
#

iterate = "My land is Kenya" 

for i in iterate:
  print(i)

M
y

l
a
n
d

i
s

K
e
n
y
a

In [121]:
# Challenge 2
# ---
# Question: Iterate through the given footballers list and stop at "Mariga"
# ---
# 

footballers = ["Oliech", "Kahata", "Yohana", "Matasi", "Mariga", "Wanyama"]

for i in footballers:
  print(i)
  if i  == "Mariga":
    break

Oliech
Kahata
Yohana
Matasi
Mariga

In [13]:
# Challenge 3 (Optional)
# ---
# Let's print out a word if it doesn't have the letter "e" in the given cakes below
# ---
# Hint: 
# 

cakes = ["Blueberry", "Raspberry", "Vanilla", "Chocolate", "Marble", "Apple", "Banana", "Passion"]

for i in cakes:
  if "e" not in i:
    print ("e Does not exist in ", i)
  else:
    print ("Exists", i)

Exists Blueberry
Exists Raspberry
e Does not exist in  Vanilla
Exists Chocolate
Exists Marble
Exists Apple
e Does not exist in  Banana
e Does not exist in  Passion

## 8.0 While Loops

### 8.0 Examples

In [1]:
# Example 1
# ---
# Iterating over a list using the while loop
# ---

# First defining our list
teachers = ['Mukami', 'Kamau', 'Oliech', 'Otieno', 'Ewar', 'Nyambura', 'Lucas', 'Dennis', 'Hellen']

# Our while loop will start counting from 0,
i = 0

# determining the no. of elements in our teachers list
no_of_teachers = len(teachers) 

# Performing our iteration, starting from 0 until i is not less than the no_of_teachers
while i < no_of_teachers:
  
  # print out the element in the list as per the index
  print(teachers[i])
  
  # incrementing our i by 1
  i += 1

Mukami
Kamau
Oliech
Otieno
Ewar
Nyambura
Lucas
Dennis
Hellen

In [0]:
# Example 2
# ---
# Using a break statement while iterating over our teachers list
# ---
# 

# Our while loop will start counting from 0,
i = 0

# determining the no. of elements in our teachers list
no_of_teachers = len(teachers) 

# defining our word variable
word = "Emma"


# Performing our iteration, starting from 0 until i is not less than the no_of_teachers
while i < no_of_teachers:
  
  # print out the element in the list as per the index
  if word == teachers[i]:
    
      print("Find the element at position:",i)
    
      break
  
  # incrementing our i by 1
  i += 1

In [0]:
# Example 3
# ---
# Using the continue statement forces the next iteration of the loop to take place 
# ---
#

# Our while loop will start counting from 0,
i = 0

# determining the no. of elements in our teachers list
no_of_teachers = len(teachers) 

# defining our word variable
word = "Emma"


# Performing our iteration, starting from 0 until i is not less than the no_of_teachers
while i < no_of_teachers:
  
    print("Checking element:", i)
    
    if word != teachers[i]:
        
        i = i + 1
        
        continue
 
    print("Find the element at ", i)
    
    # stop the loop
    i = no_of_teachers

### <font color="blue">8.0 Challenges</font>

In [2]:
# Challenge 1
# ---
# Question: Iterate through the following list and stop at 8
# ---
# 

a = [1, 2, 4, 12, 1, 2, 3, (5, 6), ['Hello', 'From', 'The'], 8, 'Other', 'Side']

i = 0

number_of_list = len(a)

while i < number_of_list:
  print(i, '->' ,a[i])
  if a[i] == 8:
    break
  i+=1

0 -> 1
1 -> 2
2 -> 4
3 -> 12
4 -> 1
5 -> 2
6 -> 3
7 -> (5, 6)
8 -> ['Hello', 'From', 'The']
9 -> 8

In [1]:
# Challenge 2 
# ---
# Question: Create a while loop that prints out the following list 
# skipping the string 'Other' during iteration.
# ---
# 

a = [1, 2, 4, 12, 1, 2, 3, (5, 6), ['Hello', 'From', 'The'], 8, 'Other', 'Side']

i =0
a_len = len(a)

while i < a_len:
  if a[i] !='Other':
    print(a[i])
  i+=1

1
2
4
12
1
2
3
(5, 6)
['Hello', 'From', 'The']
8
Side

## 9.0 Functions

### 9.0 Examples

In [2]:
# Example 1
# ---
# Let's use built-in functions
# ---
# 

# The max() function will return the item with the highest value as shown
# in the given array
x = max([23, 22, 55, 23, 44])
print(x)

# Using the max() function, we can return the items with the highest value alphabetically
y = max(["Susan", "Grace", "Simon"])
print(y)

55
Susan

In [0]:
# Example 2
# ---
# Let's create a function to find out which of two numbers is greater than the other 
# ---
#

# we define it by giving it the name max_of_two
def max_of_two():
  
  # we then define our variables that will contain the numbers to be manipulated
  first_number  = 10
  second_number = 5
  
  # then we perform our operations i.e. in this case,
  # if first_number is greater than second_number etc.
  if first_number > second_number:
    
      # the return keyword allows us to provide back the result/output of our function
    return first_number
  
    # the return key word allows us to provide back the result/output of our function
  return second_number
 
# Lastly, we do the most important step; which is to call the function that 
# we have just created above. Calling allows us to use the function. 
# We have also been calling our built-in functions from the previous section.
#
max_of_two()

In [0]:
# Example 3
# ---
# Let's define our function by creating a 
# ---
#

def average_of_two_numbers(x, y):
  
  # Performing the operation
  average_of_two_numbers = (x + y)/2
  
  # Returning the result of our function
  return print(average_of_two_numbers) 

# Calling our function with arguments
average_of_two_numbers(4, 5)

### <font color="blue">9.0 Challenges</font>

In [13]:
# Challenge 1
# ---
# Question: Determine the lowest value in the given array
# ---
#
import statistics
x = [23, 22, 55, 23, 44]

mean = statistics.mean(x)

lowest = min(x)

print (lowest)

22

In [21]:
# Challenge 2
# ---
# Create function that takes in first_name, middle_name, and last_name 
# as parameters and returns the full name
# ---
#
def full_name(middle_name, last_name):

  f_name = middle_name+' '+last_name

  return f_name

full_name("Ken","Njoroge")

'Ken Njoroge'

In [24]:
# Challenge 3
# ---
# Question: Create a python function that calculates the area of rectangle 
# when the value of the height and width is passed to the function.
# ---
# 
def rec_area (height, width):

  area = height*width
  return area

rec_area(10,20)

200

In [26]:
# Challenge 4
# ---
# Question: Uberite, a logistics app has a base fare of Ksh. 400. 
# The app charges Ksh. 30 for every 100 meters travelled. 
# Create a python function fare that takes the distance travelled 
# as a parameter and returns the charge.
# ---
# 
def calculate_fare(distance):

  charge_per_km = 30
  fare = distance * charge_per_km
  return(fare)

calculate_fare(5)

150